.quill
{
    box-shadow:  0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border-radius: 8px;
}
.quill:has(.ql-editor:focus)
{
    outline: none;
    box-shadow: 0 0 0 2px #3b82f6; /* focus:ring-2 focus:ring-blue-500 */
    border-color: #3b82f6; /* focus:border-blue-500 */
}

.quill .ql-toolbar 
{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.quill .ql-container
{
    max-height: 300px;
    overflow-y: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.quill.error .ql-container,
.quill.error .ql-toolbar
{
    border-color: var(--color-red-500);
}
.quill.error .ql-toolbar 
{
    border-bottom-color: #ccc;
}